amcl:
  ros__parameters:
    use_sim_time: false
    scan_topic: /scan
    min_particles: 500
    max_particles: 2000
    odom_frame_id: odom
    base_frame_id: base_link
    global_frame_id: map

map_server:
  ros__parameters:
    use_sim_time: false
    yaml_filename: "/home/wens/ugv_ws/my_map.yaml"

planner_server:
  ros__parameters:
    expected_planner_frequency: 10.0

controller_server:
  ros__parameters:
    use_sim_time: false

bt_navigator:
  ros__parameters:
    use_sim_time: false

global_costmap:
  global_costmap:
    ros__parameters:
      global_frame: map
      robot_base_frame: base_link
      update_frequency: 5.0
      publish_frequency: 2.0
      resolution: 0.05
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]

local_costmap:
  local_costmap:
    ros__parameters:
      global_frame: odom
      robot_base_frame: base_link
      update_frequency: 10.0
      publish_frequency: 5.0
      resolution: 0.05
      plugins: ["obstacle_layer", "inflation_layer"]
